@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #333;
}
ul{
    list-style: none;
}
p {
    font-size: 15px;
    margin-top: 1em;
    color: #595757;
    letter-spacing: 1px;
}
.con-width {
    width: 1140px;
    margin: 0 auto;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.text-c {
    text-align: center;
}
.t-indent-36{
    text-indent: 36px;
}
.t-18{
    font-size: 18px;
}
/*********************************************/
header{
    width: 100%;
    height: 316px;
    position: relative;
    min-width: 1140px;
}
header.about-us{
     background: url("../img/common/banner_1.png")no-repeat scroll center top;
}
header.organization{
    background: url("../img/common/10.jpg")no-repeat scroll center top;
}
header.honour{
    background: url("../img/common/11.jpg")no-repeat scroll center top;
}header.licheng{
     background: url("../img/common/banner4_1.png")no-repeat scroll center top;
 }
header.environment{
    background: url("../img/common/61.jpg")no-repeat scroll center top;
}
header.project{
    background: url("../img/common/13.jpg")no-repeat scroll center top;
}
header.business{
    background: url("../img/business/60.jpg")no-repeat scroll center top;
}
header.zhaoshang{
    background: url("../img/common/banner6_1.png")no-repeat scroll center top;
}
header.our-people{
    background: url("../img/news/18.jpg")no-repeat scroll center top;
}
header.login{
    background: url("../img/common/banner3_1.png")no-repeat scroll center top;
}
header.contact{
    background: url("../img/common/banner7_1.png")no-repeat scroll center top;
}
header.huazhuangpin{
    background: url("../img/common/banner2.png")no-repeat scroll center top;
}
header .box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
}
header .box .con-width{
    width: 1140px;
    margin: 0 auto;
}
header .box .con-width .top{
    height: 20px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
header .box .con-width .top img{
    border: 0;
    vertical-align: middle;
}
header .box .con-width .text-r{
    text-align: right;
}
header .box .con-width .clearfix{
    zoom: 1;
}
header .box .con-width .top a{
    color: #fff;
    text-shadow: 1px 2px 5px #333;
    margin: 0 2px;
    font-size: 12px;
    font-family: "Microsoft Yahe";
}
header .box .con-width .top span{
    color: white;
    text-shadow: 1px 2px 5px #333;
    margin: 0 2px;
    font-size: 12px;
    font-family: "Microsoft Yahe";
}
header .box .con-width .top .searchBox{
    width: 185px;
    height: 20px;
    background: url(../img/index/bg-search.png) no-repeat left center;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    margin: 0 8px;
}
header .box .con-width .top .searchBox input{
    border: 0;
    background: none;
    outline:none;
    width: 175px;
    height: 100%;
    padding-left: 10px;
}
header .box .con-width .top .searchBox .btnSearch{
    background: url("../img/index/btn-Search.png")no-repeat center;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    right: 5px;
    cursor: pointer;
    padding: 10px;
}
header nav{
    background: url(../img/index/bg-nav.png) no-repeat center;
    height: 77px
}
header nav .f-l{
    float: left;
    margin-top: 11px;
    margin-left: 57px;
}
header nav .f-l img{
    border: 0;
    vertical-align: middle;
}
header nav .f-r{
    float: right;
}
header nav .f-r ul li{
    float: left;
    width: 140px;
    text-align: center;
}
header nav .f-r ul li a{
    display: inline-block;
    height: 37px;
    padding: 17px 0;
    width: 100%;
}
header nav .f-r ul li a h1{
    font-size: 18px;
    line-height: 1.4em;
    color: #616566;
    font-weight: normal;
    text-align: center;
    transition: 0.3s;
    letter-spacing: 1px;
}
header nav .f-r ul li a:hover h1{
    margin-top: -3px;
    color: #008b50;
}
header nav .f-r ul li a:hover span{
    margin-top: 6px;
    color: #008b50;
}
header nav .f-r ul li a span{
    font-family: "Microsoft Yahe";
    font-size: 14px;
    color: #616566;
    display: block;
    text-align: center;
    transition: 0.3s;
    letter-spacing: 1px;
}
header nav .f-r ul li.active {
    background: url(../img/common/bg-nav-active.jpg) no-repeat center bottom;
}
header nav .f-r ul li a span.active{
    color: #008b50;
}
header .box .text-box{

}
header .box .bt-nav{
    height: 80px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../img/index/bg-tm50.png);
}
header .box .bt-nav ul li{
    float: left;
    overflow: visible;
    width: 228px;
}
header .box .bt-nav img{
    border: 2px solid #999999;
    width: 86px;
    height: 56px;
    cursor: pointer;
}
header .box .bt-nav .f-l{
    width: 90px;
    text-align: center;
    margin-top: 10px;
    float: left;
}
header .box .bt-nav .f-c{
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}
header .box .bt-nav .f-c p{
    color: white;
    font-size: 13px;
    font-family: "Microsoft Yahe";
    margin-top: 2px;
    margin-left: -2px;
}
/*******************************header-nav-hover*********************************/
header nav .f-r ul li .con_li{
    width: 100%;
    height: 0px;
    background: rgba(227, 227, 227, 0.9);
    z-index:555;
    overflow: hidden;
    transition: 0.5s;
}
header nav .f-r ul li:hover .con_li_1{
    height: 200px;
}
header nav .f-r ul li:hover .con_li_2{
    height: 200px;
}
header nav .f-r ul li .con_li_4{
    display: none;
    transition: 0.5s;
}
header nav .f-r ul li:hover .con_li_4{
    height: 100px;
    overflow: visible;
    display: block;
}
header nav .f-r ul li .con_li li{
    position: relative;
}
header nav .f-r ul li .con_li_4 .con_li_li{
    background: rgba(227, 227, 227, 0.9);
    position: absolute;
    left: 140px;
    top: 0px;
    width: 0;
    height: 100px;
    z-index: 556;
    overflow: hidden;
}
/*header nav .f-r ul li .con_li_4 #business .con_li_li,*/
header nav .f-r ul li .con_li_4 #yiliao .con_li_li,
header nav .f-r ul li .con_li_4 #zhengxing .con_li_li,
header nav .f-r ul li .con_li_4 #jiyin .con_li_li{
    height: 100px;
}
header nav .f-r ul li .con_li_4 #gongyu .con_li_li{
    height: 100px;
}
header nav .f-r ul li .con_li_4 #kangti .con_li_li{
    height: 350px;
}
header nav .f-r ul li .con_li_4 #yanglao .con_li_li{
    height: 200px;
}
header nav .f-r ul li .con_li_4 #yiliao
header nav .f-r ul li .con_li_4 #kangti,
header nav .f-r ul li .con_li_4 #zhengxing,
header nav .f-r ul li .con_li_4 #jiyin,
header nav .f-r ul li .con_li_4 #yanglao,
header nav .f-r ul li .con_li_4 #gongyu{
    transition: 0.5s;
}
header nav .f-r ul li .con_li_4 #jiyin a{
    margin-top: -10px;
}
header nav .f-r ul li .con_li_4 #yiliao:hover .con_li_li,
header nav .f-r ul li .con_li_4 #kangti:hover .con_li_li,
header nav .f-r ul li .con_li_4 #zhengxing:hover .con_li_li,
header nav .f-r ul li .con_li_4 #jiyin:hover .con_li_li,
header nav .f-r ul li .con_li_4 #yanglao:hover .con_li_li,
header nav .f-r ul li .con_li_4 #gongyu:hover .con_li_li{
    width: 140px;
}
header nav .f-r ul li:hover .con_li_3{
    height: 200px;
}
header nav .f-r ul li:hover .con_li_4{
    height: 300px;
}
header nav .f-r ul li:hover .con_li_5{
    height: 200px;
}
header nav .f-r ul li:hover .con_li_6{
    height: 50px;
}
header nav .f-r ul li:hover .con_li_7{
    height: 100px;
}
header nav .f-r ul li .con_li ul li{
    height: 50px;
}
header nav .f-r ul li .con_li ul li a{
    transition: 0.5s;
    letter-spacing: 1px;
}
header nav .f-r ul li .con_li ul li a:hover{
    color: #008b50;
    margin-left: -10px;
}
/********************bg-shadow*************************/
.bg-shadow {
    height: 6px;
    width: 100%;
    background: url(../img/common/bg-shadow.png) no-repeat center;
    position: absolute;
}
/********************container*************************/
.container {
    margin: 0 auto;
   /* height: 1400px;*/
}
.container .childBanner{
    background: url(../img/common/bg-childBanner.png);
    height: 72px;
}
.container .childBanner h1 {
    padding-top: 10px;
    color: #7e7e7e;
    font-size: 16px;
    font-weight: normal;
}
.container .childBanner h1 span {
    margin-left: 15px;
}
.container .childBanner h1 a img{
    margin-top: -3px;
    margin-left: 15px;
}

.container .childBanner ul li:first-child {
    background: none;
}
.container .childBanner ul li {
    float: left;
    height: 33px;
    line-height: 33px;
    background: url(../img/common/bg-split-1.png) no-repeat left center;
}
.container .childBanner ul li a {
    display: inline-block;
    font-size: 14px;
    margin: 0 17px;
    color: #848484;
}
.container .childBanner ul li:first-child a {
    margin-left: 0;
}
.container .childBanner ul li.active a,
.container .childBanner ul li.active a:hover{
    color: #339e6c;
}
.container .childBanner ul li a:hover{
    color: #5b5b5b;
}
/****************************************************/
.newsDetail {
    padding: 30px 0;
}
.newsDetail .con {
    border: 1px solid #e4e4e4;
    padding: 30px;
    width: 773px;
    position: relative;
}
.newsDetail .con .btnStyle-3 {
    position: absolute;
    margin-top: -10px;
    margin-left: -20px;
    background: url(../img/common/bg-btnStyle-3.png) no-repeat left bottom;
    width: 211px;
    height: 60px;
    display: inline-block;
    text-indent: 1.5em;
    letter-spacing: 1px;
}
.newsDetail .con .btnStyle-3 span{
    display: block;
    color: white;
    font-size: 15px;
    line-height: 1.3em;
    font-family: Tahoma;
    margin-top: 5px;
    cursor: pointer;
    font-weight: bold;
}
.newsDetail .con .btnStyle-3 label {
    display: block;
    color: white;
    font-size: 12px;
    line-height: 1.3em;
    cursor: pointer;
}
.newsDetail .con .txt {
    padding-top: 60px;
}
.newsDetail .con .txt img {
    max-width: 100%;
}
.newsDetail .con .txt p:not(1){
    line-height: 1.75em;
}
.newsDetail .con .txt p{
    color: #339e6c;
    font-family: 微软雅黑;
    font-size: 16px;
}
.newsDetail .con .txt p strong span{
    color: #339e6c;
    font-family: 微软雅黑;
    font-size: 16px;
}
.newsDetail .con .txt p span{
    font-family: 微软雅黑;
    font-size: 16px;
}
/***************************************************/
.newsDetail .con .txt .medical-devices li{
    width: 100%;
    height: 190px;
}
.newsDetail .con .txt .medical-devices li .f-l{
    width: 200px;
    height: 148px;
    overflow: hidden;
    border: 1px solid #707070;
    cursor: pointer;
    position: relative;
}
.newsDetail .con .txt .medical-devices li .f-l img{
    width: 200px;
    height: 150px;
    transition: 0.3s;
}
.newsDetail .con .txt .medical-devices li .f-l .qixie1{
    height: 150px;
}
.newsDetail .con .txt .medical-devices li .f-l .qixie2{
    height: 0px;
    position: absolute;
    top: -3px;
}
.newsDetail .con .txt .medical-devices li .f-l:hover .qixie1{
     height:0px;
 }
.newsDetail .con .txt .medical-devices li .f-l:hover .qixie2{
    height:150px;
}
/*.newsDetail .con .txt .medical-devices li .f-l img:hover{
    transform: scale(1.2);
}*/
.newsDetail .con .txt .medical-devices li .f-r{
    width: 540px;
    height: 148px;
    position: relative;
}
.newsDetail .con .txt .medical-devices li .f-r h2{
    text-align: left;
    font-size: 18px;
}
.newsDetail .con .txt .medical-devices li .f-r .more{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
}
.newsDetail .con .txt .medical-devices li .f-r .more:hover,
.newsDetail .con .txt .medical-devices li .f-r h2 a:hover{
    color: #ac2925;
    text-decoration: underline;
}
/***************************************************/
.newsDetail .news{
    padding-top: 50px;
}
.newsDetail .news .news_ul li{
    width: 773px;
    height: 140px;
    margin-top: 10px;
}
.newsDetail .news .news_ul li .news_right .dtext1{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #afafaf;
}
.newsDetail .news .news_ul li .news_right .dtext2{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #afafaf;
}
.newsDetail .news .news_ul img{
    width: 220px;
    height: 140px;
}
.newsDetail .news .news_ul .news_left{
    float: left;
    width: 220px;
}
.newsDetail .news .news_ul .news_right{
    float: left;
    width: 503px;
    margin-left: 20px;
    position: relative;
    height: 140px;
}
.newsDetail .news .news_ul .news_right a:hover{
    color: #ac2925;
    text-decoration: underline;
}
.newsDetail .news .titles{
    text-align: center;
    font-size: 26px;
    padding-bottom: 20px;
    color: #006633;
}
/***************************************************/
.newsDetail .news .ydl img{
    width: 200px;
    height: 250px;
}
.newsDetail .news .ydl tr td{
    /*padding-left: 5px;
    padding-right: 5px;*/
    width: 25%;
    padding: 5px;
}
/***************************************************/
.newsDetail .news .xiangmu{
    height: 400px;
    overflow: auto;
    margin-top: 30px;
}
/***************************************************/
.newsDetail .news .zizhu{

}
.newsDetail .news .zizhu .title{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.newsDetail .news .zizhu tr td{
    padding: 5px;
}
.newsDetail .news .zizhu tr td:nth-child(1),
.newsDetail .news .zizhu tr td:nth-child(4){
    width: 15%;
}
    /****************大科室建设 表格**********************/

.newsDetail .news .weibingmanbing{
    width: 100%;
}
.newsDetail .news .weibingmanbing th{
    height: 25px;
    font-size: 20px;
}
.newsDetail .news .weibingmanbing td{
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
/***************************************************/
.newsDetail .licheng{
    background: url("../img/about-us/licheng-bg.jpg")no-repeat;
    background-size: 100%;
    margin-top: 50px;
}
.newsDetail .licheng ul li{
    float: left;
    width: 16.6%;
    height: 400px;
}
.newsDetail .licheng ul li:nth-child(1){
    margin-top: 300px;
    margin-left: 4px;
}
.newsDetail .licheng ul li:nth-child(2){
    margin-top: 240px;
}
.newsDetail .licheng ul li:nth-child(3){
    margin-top: 180px;
}
.newsDetail .licheng ul li:nth-child(4){
    margin-top: 120px;
}
.newsDetail .licheng ul li:nth-child(5){
    margin-top: 60px;
}
.newsDetail .licheng ul li a{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
.newsDetail .licheng ul li .licheng-title{
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    color: #080808;
    cursor: pointer;
    font-weight: bold;
}
.newsDetail .licheng ul li div{
    margin-top: 10px;
    font-size: 18px;
    overflow: auto;
    letter-spacing: 1px;
    height: 0px;
    transition: 0.7s;
    background: rgba(255, 255, 255, 0.64);
    padding-left: 5px;
}
.newsDetail .licheng ul li div span{
    color: #0697DA;
}
.newsDetail .licheng ul li:hover div{
    height: 298px;
}
.newsDetail .licheng ul li:hover a,
.newsDetail .licheng ul li:hover .licheng-title{
    color: #d58512;
}
/***************************************************/
.v_con_l {
    float: left;
    width: 840px;
    height: 690px;
    border: 1px solid #e4e4e4;
}
#form{
    position: relative;
    width: 773px;
}
#form div{
    width:380px;
    position: absolute;
    top: 400px;
    left: 50%;
    margin-left: -190px;
}
#form div a{
    width: 50px;
    height: 25px;
    background: #008b50;
    color: #fff;
    border-radius: 2px;
    float: left;
    margin-left: 80px;
    text-align: center;
    line-height: 25px;
}
#form div input{
    width: 50px;
    height: 25px;
    float: right;
    margin-right: 95px;
    cursor: pointer;
}
.v_tit {
    margin: 20px 0 0 10px;
}
.v_con_l ul{
    position: absolute;
    left: 50%;
    margin-left: -189px;
    margin-top: 100px;
}
.v_con_l ul li {
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
}

.v_con_l ul li input {
    height: 30px;
    width: 200px;
}

.v_con_l ul li span {
    color: #ff0101;
    font-weight: bold;
    margin-left: 10px;
    font-size: 16px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.v_con_l ul li p {
    display: inline-block;
    width: 75px;
    font-size: 16px
}
/***************************************************/
.l_reg_c {
    border: 1px solid #e4e4e4;
    padding: 30px;
    width: 773px;
    position: relative;
    float: left;
    height: 900px;
}
.l_reg_c ul{
    margin-top: 20px;
}
.l_reg_c ul li{
    margin-top: 20px;
}
.l_reg_c_wz{
    width: 150px;
    float: left;
    font-size: 14px;
    text-align: center;
    height: 30px;
}
.l_reg_c_wz p {
    height: 16px;
    line-height: 16px;
}
.fs16 {
    font-size: 16px;
}
.l_reg_c ul li input {
    width: 300px;
    height: 30px;
}
.l_reg_c ul li select {
    height: 30px;
}
.l_reg_sub {
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 30px 0 0 200px;
    display: block;
}
/***************************************************/
.newsDetail .con .txt #dituContent{
    width: 451px;
    height: 449px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-image: url("../img/contact/bg.png");
    color: rgb(0, 0, 0);
    text-align: left;
    margin-top: 20px;
}
.newsDetail .address{
    float: right;
    width: 300px;
    padding: 10px;
}
.newsDetail .fuwuzhan{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/***************************************************/
/* 定义keyframe动画，命名为blink */

@keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 1;}
    50.01%{opacity: 0;} /* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */
    100%{opacity: 0;}
}

/* 添加兼容性前缀 */

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
/* 定义blink类*/
.blink{
    animation: blink .95s linear infinite;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: blink .95s linear infinite;
    -moz-animation: blink .95s linear infinite;
    -ms-animation: blink .95s linear infinite;
    -o-animation: blink .95s linear infinite;
    color: #dd4814;
    font-size: 42px;
    letter-spacing: 2px;
    text-align: center;
}
/***************************************************/
.newsDetail .con .rczlStyle li a p{
    display: none;
}
.newsDetail .con .rczlStyle li.active a p{
    display: block;
}
.rczlStyle li a p {
    display: none;
    margin: 5px 0 !important;
    font-weight: normal;
    line-height: 1.7em;
    color: #898989;
    cursor: default;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}
/***************************************************/
.teamconntent {
    padding-top: 60px;
}
.teamconntent .teamconntenttab{
    line-height: 30px;
    color: #339e6c;
    font-size: 16px;
    padding: 0 0 10px;
    font-weight: bold;
}
.teamconntent .no1 {
    width: 770px;
}
.teamconntent .no1 li:first-child {
    border-top: 0;
    padding: 0 0 20px 0;
}
.teamconntent .no1 li {
    float: left;
    border-top: 1px solid #E4E4E4;
    padding: 20px 0;
}
.teamconntent .teamimg {
    float: left;
    width: 100px;
}
.teamconntent .teamimg img {
    border: 1px solid #E4E4E4;
    width: 100%;
}
.teamconntent .teamtxt {
    float: left;
    width: 650px;
    padding: 0 0 0 20px;
}
.teamconntent .teamtxt h3 {
    color: #339e6c;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}
.teamconntent .teamtxt p {
    line-height: 1.8em;
}
.teamconntent .no2 {
    width: 770px;
}
.teamconntent .no2 li {
    float: left;
    padding: 20px 0;
    width: 385px;
    position: relative;
    height: 157px;
}
.teamconntent .no2 li.active{}
.teamconntent .no2 li.active .teamtxt{
    position:absolute;
    right:0;top:20px;
    background:white;
    height:auto;
    z-index: 999;
}
.teamconntent .no2 li.active .teamtxt p{
    height:auto;
    overflow:visible
}
.teamconntent .no2 .teamtxt{
    float: left;
    width: 242px;
    border: 1px solid #E4E4E4;
    padding: 10px;
    margin: 0 10px;
    overflow: hidden;
    height: 134px;
}
.teamconntent .no2 .teamtxt p {
    overflow: hidden;
    height: 68px;
    margin-top: -3px;
}
.buttonoff{
    background-color: #339e6c;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #E4E4E4;
    z-index: 1000;
    cursor: pointer;
}
/***************************************************/
/*.ul-mend {
    margin: 30px 0;
    overflow: hidden;
}
.ul-mend li table tr td:first-child{
    width:83px;
    height: 114px;
    background: #339e6c;
}
.ul-mend li table tr td:first-child span {
    text-align: center;
    display: block;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}
.ul-mend li table tr td:first-child b{
    text-align: center;
    display: block;
    margin-top: 5px;
}*/
.newsDetail .con .txt img {
    max-width: 100%;
}
/*.ul-mend li {
    float: left;
    margin-left: 3px;
}*/
/*.ul-mend li table tr td .bimg1{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-ylfw.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .bimg2{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-nkf.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .bimg3{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-zjzx.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .bimg4{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-jthl.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .eimg1{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-fmzx.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .eimg2{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-zlzx.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .eimg3{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-tly.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .eimg4{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-zx.png")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .gimg1{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-yczz.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .gimg2{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-ycmb.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .gimg3{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-cyzl.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}
.ul-mend li table tr td .gimg4{
    height: 120px;
    width: 120px;
    background: url("../images/news/icon-ycjz.jpg")no-repeat;
    background-size: 120px 120px;
    cursor: pointer;
}*/
/***************************************************/
.newsDetail .lcb table {
    border-collapse: collapse;
}
.newsDetail .lcb table tr td:first-child {
    background: none;
    width: 147px;
}
.newsDetail .lcb table tr td:first-child strong{
    text-align: right;
    display: block;
    color: #6fb897;
    font-size: 15px;
    font-weight: bold;
    margin-right: 12px;
    letter-spacing: 0.5px;
}
.newsDetail .lcb table tr td{
    position: relative;
    vertical-align: top;
    background: url(../img/common/ico-timer-split.jpg) repeat-y;
}
.newsDetail .lcb table tr:last-child td{
    background: none;
}
.newsDetail .lcb table tr:first-child td p {
    margin-top: -22px;
    padding-top: 0;
}
.newsDetail .lcb table tr td p{
    padding-left: 37px;
    margin-top: -26px;
    padding-bottom: 10px;
    padding-top: 4px;
    min-height: 40px;
}
.newsDetail .con .txt tr td p{
    font-size: 13px;
    color: #595757;
    margin-top: -22px;
}
.newsDetail .lcb table tr td strong a{
    margin-left: 12px;
    color: #6fb897;
    font-size: 16px;
    letter-spacing: 1px;
}
.newsDetail .con .txt img{
    max-width: 100%;
}
.newsDetail .lcb table tr td strong img{
    vertical-align: top;
}
/**************************************************/
.newsDetail .con .txt p {
    font-size: 13px;
    margin-top: 1em;
    color: #595757;
}
#featured-area ul{
    position: relative;
}
#featured-area ul li{
    position: absolute;
    left: -185px;
    top: -107px;
    opacity: 1;
    z-index: 280;
}
.newsDetail .con .title {
    color: #339e6c;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
}
.roundabout-in-focus a .tm75 {
    display: none;
}
/**************************************************/
.newsList{
    padding: 30px 0;
}
.newsList #masonry{
    position: relative;
    height: 1050px;
}
.newsList ul li{
    width: 380px;
    border: #e3e3e3 1px solid;
    position: relative;
    margin-bottom: 30px;
}
.newsList ul li .pic img {
    max-width: 100%;
    width:380px;
    height: 200px;
    filter: blur(1px);
}
.newsList ul li .label {
    position: absolute;
    width: 100%;
    margin-top: -45px;
    left: 0;
}
.btnStyle-2{
    background: url(../img/culture/bg-btnStyle-2.png) no-repeat left bottom;
    width: 348px;
    height: 60px;
    display: inline-block;
    text-indent: 1em;
    letter-spacing: 1px;
}
.newsList ul li:hover .btnStyle-2{
    background: url(../img/culture/bg-btnStyle-2.png) no-repeat left top;
}
.newsList ul li:hover img {
    filter: blur(0px);
}
.btnStyle-2 p{
    margin-top: 0px;
    font-size: 16px;
    color: white;
    line-height: 20px;
    height: 45px;
}
.newsList ul li .desc {
    padding: 20px 25px;
    padding-bottom: 10px;
}
.newsList ul li .desc p{
    height: 60px;
}
.newsList ul li .desc .times {
    padding-top: 8px;
    color: #c4c4c4;
}
.newsList ul li .desc .times a {
    font-size: 12px;
    color: #c4c4c4;
}

.newsList .jiameng p{
    font-size: 18px;
}
/**************************************************/
.rczlStyle li.active{
    background: url(../img/common/icon-sj_.jpg) no-repeat left 5px;
}
.rczlStyle li{
    padding-left: 23px;
    margin-top: 15px;
    background: url(../img/common/icon-sj.jpg) no-repeat left 5px;
}
.rczlStyle li a {
    padding: 0 8px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    background: #339e6c;
    border: 1px solid #339e6c;
    padding: 5px;
}
.rczlStyle li.active a{
    color: #339e6c;
    background: none;
}
.rczlStyle li a p {
    margin: 5px 0 !important;
    font-weight: normal;
    line-height: 1.7em;
    color: #898989;
    cursor: default;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 1px;
    font-size: 18px;
}
.rczlStyle .noneLi p{
    display: none;
}
.newsDetail section.side {
    border: 1px solid #e4e4e4;
    padding: 25px;
    width: 223px;
}
.newsDetail section.side h1{
    font-size: 16px;
    color: #6b6b6b;
}
.newsDetail section.side h2 {
    font-size: 14px;
    color: #6b6b6b;
}
.newsDetail section.side ul.piclist li {
    margin-top: 20px;
    overflow: hidden;
}
.newsDetail section.side ul.piclist li .pic{
    width: 70px;
    height: 70px;
}
.newsDetail section.side ul.piclist li .pic img{
    width: 70px;
    height: 70px;
}
.newsDetail section.side ul.piclist li .f-c{
    margin-left: 10px;
    width: 125px;
    float: left;
}
.newsDetail section.side ul.piclist li .f-c p{
    color: #898989;
    height: 50px;
    overflow: hidden;
    font-size: 13px;
    margin-top: 0;
}
.newsDetail section.side ul.piclist li .f-c p:hover{
    color: red;
}
.newsDetail section.side ul.piclist li .f-c span{
    color: #c4c4c4;
    font-size: 12px;
}
.newsDetail section.side .split {
    font-size: 0;
    height: 1px;
    background: #e3e3e3;
    margin: 40px 0;
}
.newsDetail section.side h2 {
    font-size: 14px;
    color: #6b6b6b;
}
.newsDetail section.side ul.txtlist{
    margin-top: 12px;
}
.newsDetail section.side ul.txtlist li{
    margin: 4px 0;
}
.newsDetail section.side ul.txtlist li a {
    font-size: 14px;
    color: #b4b4b4;
    display: block;
    margin-top: 8px;
}
.newsDetail section.side ul li a img{
    transition: 0.5s;
}
.newsDetail section.side ul li a:hover img{
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}
.newsDetail section.side ul li:hover .ytext{
    color: #0697DA;
}
/**********************footer**************************/
footer{
    background: #494C56;
}
footer .links{
    height: 195px;
}
footer .links .con-width{
    padding-top: 50px;
}
footer .links .con-width .f-c{
    margin-left: 70px;
    float: left;
}
footer .links .con-width .f-c ul li{
    float: left;
    border-left: 1px solid #666666;
    display: block;
    line-height: 1;
    padding: 0 35px;
    margin-bottom: 10px;
}
footer .links .con-width .f-c ul li a{
    color: white;
    font-size: 16px;
}
footer .links .con-width .f-c ul li:first-child {
    border: 0;
    padding-left: 0;
}
footer .links .con-width .f-c ul li a:hover{
    text-decoration: underline;
    color: #008b50;
}
footer .links .con-width .f-c p {
    color: #888888;
    font-size: 12px;
}
footer .links .con-width .f-r img:hover{
    transition: 0.5s;
}
footer .links .con-width .f-r img:hover{
    transform: scale(1.5);
}
/************************************************************************/
.structure{
    font-size: 15px;
}
.structure b{
    font-size: 16px;
}

/****************************右侧悬浮栏*********************************/
.fixed{
    width: 60px;
    height: 240px;
    background: rgba(255, 255, 255, 0.98);
    position: fixed;
    right: 0;
    bottom: 40px;
}
.fixed div{
    width: 58px;
    height: 58px;
    border: 1px solid rgba(232, 230, 231, 0.99);
    cursor: pointer;
}
#btn_top{
    width:58px;
    height:58px;
    display: block;
    background:url("../img/common/top1.png") no-repeat;
    background-size: 58px 58px;
    transition: 0.5s;
}
#btn_top:hover{
    background:url("../img/common/TOP.png") no-repeat;
    background-size: 58px 58px;
}
#qq{
    width:58px;
    height:58px;
    display: block;
    background: url("../img/common/qq_1.png") no-repeat;
    background-size: 58px 58px;
    transition: 0.5s;
}
#qq:hover{
    background: url("../img/common/qq_2.png") no-repeat;
    background-size: 58px 58px;
}
#weixin{
    width:58px;
    height:58px;
    display: block;
    background: url("../img/common/weixin_1.png") no-repeat;
    background-size: 58px 58px;
    transition: 0.5s;
}
.weixin{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 60px;
    top: -13px;
    transition: 0.5s;
}
#weixin:hover{
    background: url("../img/common/weixin_2.png") no-repeat;
    background-size: 58px 58px;
}
#weixin:hover .weixin{
    left: -120px;
}
#liuyan{
    width:58px;
    height:58px;
    display: block;
    background: url("../img/common/留言1.png") no-repeat;
    background-size: 58px 58px;
    transition: 0.5s;
}
#liuyan:hover{
    background: url("../img/common/留言2.png") no-repeat;
    background-size: 58px 58px;
}
.fixed .qq .qq_con{
    width: 0px;
    height: 61px;
    position: absolute;
    right: 60px;
    bottom: 60px;
    overflow: hidden;
    transition: 0.5s;
}
.fixed .qq .qq_con li{
    width: 78px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 1px solid rgba(232, 230, 231, 0.99);
    background: #fff;
}
.fixed .qq .qq_con li:nth-child(1){
    border-bottom: none;
}
.qq:hover .qq_con{
    width: 78px;
}
.qq:hover .qq_con a:hover{
    color: #008b50;
}
/************************左侧悬浮栏******************************/
.message{
    height: 260px;
    width: 200px;
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    position: fixed;
    left: 1px;
    bottom: 40px;
    background: url("../img/common/message_bg.jpg")no-repeat;
    background-size: 200px 260px;
    margin-left: -201px;
    transition: 0.5s;
}
.message:hover{
    margin-left: 0px;
}
.message p{
    font-size: 22px;
    color: #006633;
    margin-top: 10px;
    margin-left: 5px;
}
.message label{
    font-size: 12px;
    margin-left: 5px;
}
.message input{
    position: absolute;
    left: 50px;
    height: 15px;
    width: 130px;
}
.message span{
    color: red;
    position: absolute;
    left: 190px;
}
.message .content{
    width: 130px;
    height: 80px;
    border: 1px solid #b4b4b4;
    position: absolute;
    left: 50px;
    margin-top: -20px;
    overflow: auto;
    background: #fff;
}
.message .submit{
    width: 180px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 6px;
    cursor: pointer;
}
.message .message_btn{
    width: 30px;
    height: 262px;
    position: absolute;
    left: 200px;
    bottom: -1px;
    background: #d0cabb;
    cursor: pointer;
    text-align: center;
}
.message .message_btn span{
    font-size: 20px;
    width: 20px;
    font-family: "Microsoft YaHei";
    position: absolute;
    left: 0px;
    bottom: 50%;
    margin-bottom: -52px;
    color: #525252;
    margin-left: 5px;
}

/*****************屏幕宽度最大为375像素时********************/
@media screen and (max-width: 375px) {
    body{
        overflow-x: hidden;
    }
    .con-width {
        width: 100%;
        margin: 0 auto;
    }
    /*****header*****/
    header{
        height: 930px;
        width: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        min-width: 375px;
    }
    .header_top{
        position: relative;
        overflow: visible;
        height: 140px;
    }
    header .box{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 998;
    }
    header .box .con-width{
        width: 100%;
        margin: 0 auto;
    }

    /**********header nav************/
    header nav{
        background: url(../img/index/bg-nav.png) no-repeat center;
        height: 77px;
    }
    header nav .logo{
        width: 380px;
        height: 48px;
    }
    header nav .f-l{
        float: left;
        margin-top: 11px;
        position: relative;
        left: 50%;
        margin-left: -190px;
    }
    header nav .f-l img{
        border: 0;
        vertical-align: middle;
    }
    header nav .f-r{
        float: right;
        position: absolute;
        top: 140px;
        left: 0px;
    }
    header nav .f-r .fli{
        width: 100%;
    }
    header nav .f-r ul{
        width: 100%;
    }
    header nav .f-r ul li{
        float: left;
        width: 140px;
        text-align: center;
    }
    header nav .f-r ul li a{
        display: inline-block;
        height: 37px;
        padding: 17px 0;
        width: 100%;
    }
    header nav .f-r ul li a h1{
        font-size: 16px;
        line-height: 1.4em;
        color: #616566;
        font-weight: normal;
        text-align: center;
        transition: 0.3s;
    }
    header nav .f-r ul li a:hover h1{
        margin-top: -3px;
        color: #008b50;
    }
    header nav .f-r ul li a:hover span{
        margin-top: 6px;
        color: #008b50;
    }
    header nav .f-r ul li a span{
        font-family: "Microsoft Yahe";
        font-size: 14px;
        color: #616566;
        display: block;
        text-align: center;
        transition: 0.3s;
    }
    header .box .bt-nav{
        height: 528px;
        width: 190px;
        float: right;
        position: absolute;
        right: 0;
        top: 140px;
        background: url(../img/index/bg-tm50.png);
        display: none;
    }
    header .box .bt-nav ul li{
        float: left;
        overflow: visible;
        width: 190px;
        height: 88px;
    }
    /*********header-nav-hover**********/
    header nav .f-r ul li .con_li{
        width: 100%;
        height: 50px;
        background: rgba(227, 227, 227, 0.9);
        z-index:555;
        overflow: hidden;
        transition: 0.5s;
    }
    header nav .f-r ul li .con_li_1{
        height: 50px;
    }
    header nav .f-r ul li .con_li_4{
        height: 100px;
    }
    header nav .f-r ul li:hover .con_li_1{
        height: 50px;
    }
    header nav .f-r ul li:hover .con_li_2{
        height: 50px;
    }
    header nav .f-r ul li .con_li_4{
        display: block;
        height: 100px;
        transition: 0.5s;
    }
    header nav .f-r ul li .con_li_1 li,
    header nav .f-r ul li .con_li_3 li,
    header nav .f-r ul li .con_li_4 li{
        width: 25%;
    }
    header nav .f-r ul li .con_li_6 li{
        width: 100%;
    }
    header nav .f-r ul li .con_li_7 li{
        width: 50%;
    }

    header nav .f-r ul li .con_li li{
        position: relative;
    }
    header nav .f-r ul li .con_li_4 .con_li_li{
        background: rgba(227, 227, 227, 0.9);
        position: absolute;
        left: 140px;
        top: 0px;
        width: 100px;
        height: 100px;
        z-index: 556;
        overflow: hidden;
        display: none;
    }
    header nav .f-r ul li:hover .con_li_4{
        height: 100px;
    }
    header nav .f-r ul li:hover .con_li_3，
    header nav .f-r ul li:hover .con_li_5，
    header nav .f-r ul li:hover .con_li_6，
    header nav .f-r ul li:hover .con_li_7，
    header nav .f-r ul li .con_li ul li{
        height: 50px;
    }
    header nav .f-r ul li .con_li ul li a:hover{
        color: #008b50;
        margin-left: -10px;
    }
    #jiyin a,
    #kangyang a{
        margin-top: -15px;
    }
    /****************container***************/
    .container .modules{
        height: 1240px;
        padding: 45px 0;
    }
    .container .modules ul li{
        float: left;
        margin-top: 10px;
        margin-left: 15px;
        width: 340px;
        border: 1px solid #c7c7c7;
        height: 410px;
        -webkit-box-shadow: 0 1px 2px 0 #999;
        -moz-box-shadow: 0 1px 2px 0 #999;
        box-shadow: 0 1px 2px 0 #999;
        position: relative;
    }
    .container .modules ul li .pic img {
        width: 340px;
        height: 295px;
    }
    .container .modules ul li .pic .layer{
        position: absolute;
        width: 340px;
        top: 0;
        left: 0;
        opacity: 1;
        transition: 0.2s;
    }
    .container .modules ul li:hover .layer{
        opacity: 0;
    }
    .container .modules ul li .pic .layer img {
        width: 100%;
        height: auto;
    }
    .container .modules ul li .label{
        position: absolute;
        left: 0;
        top: 251px;
    }
    .container .modules ul li .label a{
        background: url("../img/index/bg-btnStyle-2.png")no-repeat left bottom;
        background-size: 330px;
        width: 330px;
        height: 60px;
        display: inline-block;
        text-indent: 1em;
        letter-spacing: 1px;
    }
    .container .modules ul li:first-child {
        margin-left: 15px;
    }
    /**************************************/
    .container .latesNews .con-width{
        padding-top: 50px;
        width: 100%;
        margin: 0 auto;
    }
    #news{
        display: none;
    }

    .container .latesNews{
        padding-left: 20px;
    }
    footer{
        padding-left: 20px;
        height: 950px;
        position: relative;
    }
    footer .f-r,
    footer .bofang{
        display: none;
    }
    footer .links{
        height: 195px;
    }
    footer .links .con-width{
        padding-top: 50px;
    }
    footer .links .con-width .f-c{
        margin-left: 15px;
        margin-top: 15px;
        float: left;
    }
    footer .links .con-width .f-c ul li:first-child {
        float: left;
        border-left: 1px solid #666666;
        display: block;
        line-height: 1;
        padding: 0 35px;
        margin-bottom: 10px;
    }
    footer .links .con-width .f-c .xinxi{
        width: 330px;
        position: absolute;
        left: 50%;
        margin-left: -165px;
    }
    footer .links .f-l{
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -57px;
    }
    /************************右侧悬浮栏****************************/
    .fixed{
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.98);
        position: fixed;
        right: 0;
        bottom: 20px;
    }
    .fixed div{
        width: 38px;
        height: 38px;
        border: 1px solid rgba(232, 230, 231, 0.99);
        cursor: pointer;
    }
    #btn_top{
        width:38px;
        height:38px;
        display: block;
        background:url("../img/common/top1.png") no-repeat;
        background-size: 38px 38px;
        transition: 0.5s;
    }
    #btn_top:hover{
        background:url("../img/common/TOP.png") no-repeat;
        background-size: 38px 38px;
    }
    .fixed .con_1,
    .fixed .con_2,
    .fixed .qq{
        display: none;
    }
    /********************************************************************************/
    .yqlj{
        width: 360px;
        margin-top: 20px;
    }
    .yqlj li{
        width: 80px;
        height: 100px;
        float: left;
        margin-right: 10px;
        text-align: center;
    }
    .yqlj li a img{
        width: 80px;
        height: 60px;
    }
    .yqlj li:hover span{
        color: #0697DA;
    }
    .yqlj li:hover img{
        box-shadow: 5px 10px 25px rgba(0,0,0,0.8);
    }
    .yqlj li a span{
        width: 80px;
        height: 14px;
        font-size: 14px;
        line-height: 14px;
        color: #bababa;
    }
    /************************左侧悬浮栏******************************/
    .message{
        height: 260px;
        width: 200px;
        border-top: 1px solid #b0b0b0;
        border-bottom: 1px solid #b0b0b0;
        position: fixed;
        left: 1px;
        bottom: 20px;
        background: url("../img/common/message_bg.jpg")no-repeat;
        background-size: 200px 260px;
        margin-left: -201px;
        transition: 0.5s;

    }
}